:root {
    --main-bg-color: #f7fdf3;
    --text-color: #34571e;
    --word-color: #13ab25;
    --bg-color: #f0faeb;
    --text-color1: #215732;
    --text-color2: #fff;
    --color: #a0cf6c;
    --color1: #dcf4ce;
    --color2: #619428;
    --color3: #5ec57e;
    --fnt-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fnt-weight: bold;
    --hgt: 761px;
    --hgt1: 825px;
    --hgt2: 60px;
    --hgt3: 500px;
    --hgt4: 160px;
    --hgt5: 800px;
    --hgt6: 192px;
    --hgt7: 402px;
    --hgt8: 71px;
    --hgt9: 29px;
    --fnt-size: 60px;
    --fnt-size1: 20px;
    --fnt-size2: 30px;
    --fnt-size3: 25px;
    --fnt-size4: 50px;
    --fnt-size5: 31px;
    --fnt-size6: 40px;
    --btm: 60px;
    --btm1: 640px;
    --btm2: 20px;
    --btm3: 110px;
    --btm4: 40px;
    --btm5: 100px;
    --btm6: 720px;
    --btm7: 124px;
    --r: 20px;
    --r1: 30px;
    --r2: 250px;
    --r3: 50px;
    --w: 60px;
    --w1: 250px;
    --w2: 36px;
    --w3: 200px;
    --w4: 170px;
    --w5: 80px;
    --w6: 301px;
    --t: 60px;
    --t1: 15px;
    --t2: 20px;
    --t3: 25px;
    --t4: 100px;
    --t5: 10px;
    --bdr-rd: 50%;
    --l: 40px;
    --l1: 340px;
    --l2: 200px;
    --l3: 350px;
    --bg-size: 190px;
    --bg-size1: 450px;
    --li-img: url(./images/bd833bb8554e0b2fa398d56fae7901af.png);
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.display {
    width: 100%;
}
.rectangle {
    width: 544px;
    height: 382px;
}
.png-in-png {
    background-repeat: no-repeat;
}
.button-rectangle {
    width: 297px;
    height: 70px;
}
.line {
    width: var(--w5);
}
.svg {
    width: var(--w4);
    height: var(--hgt4);
    background-size: 170px;
    left: 130px;
    background-repeat: no-repeat;
}
.png-block {
    border: 5px solid var(--color);
    background-repeat: no-repeat;
}
.list {
    width: 600px;
    height: var(--hgt3);
}
.svg1 {
    position: relative;
    background-image: url(./images/45da23110fc5e62a392e62ee2d50ec9d.png);
    background-repeat: no-repeat;
    background-size: 350px;
    width: 373px;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg2 {
    position: relative;
    background-image: url(./images/b40fcc66579d1e7708909ad24c6ea89e.png);
    background-repeat: no-repeat;
    background-size: 290px;
    width: 306px;
    height: var(--hgt8);
    display: flex;
    justify-content: center;
}
.review {
    bottom: 130px;
    text-align: center;
}
.review h2 {
    font-weight: var(--fnt-weight);
    font-family: var(--fnt-family);
}
.review p {
    font-size: var(--fnt-size1);
    line-height: 30px;
}
.svg-review {
    background-repeat: no-repeat;
}
.png {
    background-repeat: no-repeat;
    background-size: contain;
}
.image {
    width: 657px;
    background-repeat: no-repeat;
    background-size: contain;
    right: 335px;
}
.books {
    position: absolute;
    background-repeat: no-repeat;
}
.text {
    text-align: center;
    font-size: 35px;
}
.header {
    font-size: 34px;
}

.container {
    background-image: url(./images/a31a2111f4ab1331ffeb8e05c96425af.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: var(--hgt1);
    margin-top: -71px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 2600px;
    margin: 0 auto;
    top: 330px;
    left: 600px;
    opacity: 0.2;
    clip-path: inset(0 80% 0 0);
    position: relative;
}
.text-block {
    width: auto;
    position: relative;
    top: 242px;
    left: 620px;
}
.text-block-header {
    position: absolute;
    bottom: 1px;
    left: 140px;
    text-align: right;
    color: var(--text-color2);
    font-size: 85px;
    font-weight: var(--fnt-weight);
}
.circle-arrow {
    width: var(--w);
    height: var(--hgt2);
    border: 2px solid var(--text-color);
    border-radius: var(--bdr-rd);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 280px;
    left: 1273px;
}
.circle-arrow::after {
    content: '';
    width: 2px;
    height: 35px;
    background-color: var(--text-color);
    position: relative;
    bottom: 5px;
    right: 5px;
}
.circle-arrow::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid var(--text-color);
    position: relative;
    top: var(--t1);
    left: 1px;
}
.rectangle1 {
    background-color: var(--color);
    position: relative;
    bottom: 230px;
    left: 1325px;
}
.rectangle2 {
    background-color: var(--text-color2);
    position: relative;
    bottom: var(--btm1);
    left: 1299px;
}
.rectangle2 p {
    position: relative;
    color: var(--text-color);
    text-align: left;
    bottom: 70px;
    right: var(--r);
    font-size: var(--fnt-size2);
    line-height: 2;
    padding: 60px;
}
.rectangle3 {
    width: var(--w1);
    height: 90px;
    position: absolute;
    bottom: var(--btm3);
    left: var(--l);
    background-color: var(--text-color);
}
.rectangle3 h5 {
    width: 40px;
    height: 15px;
    display: flex;
    color: var(--text-color2);
    position: relative;
    text-align: center;
    bottom: 30px;
    left: 70px;
    font-size: 22px;
    font-family: var(--fnt-family);
}

.block {
    background-color: var(--main-bg-color);
    height: 759px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.block-header {
    color: var(--text-color);
    font-size: var(--fnt-size);
    top: 1px;
    right: var(--r2);
    position: relative;
}
.block ul {
    bottom: var(--btm4);
    right: 240px;
    font-size: var(--fnt-size3);
    line-height: 40px;
    position: relative;
}
.block ul li strong {
    color: var(--word-color);
}
.image-block {
    background-image: url(./images/fbf1a97a459f0ea9adc19c55a904abb4.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -10px;
    background-position-y: -126px;
    background-size: 680px;
    width: 670px;
    height: 760px;
    bottom: 709px;
    left: var(--l1);
    position: relative;
}

.inclusion {
    background-color: var(--main-bg-color);
    height: 700px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.content-block {
    position: relative;
    background-color: var(--text-color2);
    width: 1235px;
    height: 600px;
    top: var(--t4);
    right: 58px;
    display: grid;
}
.content-block-header {
    position: relative;
    color: var(--text-color);
    text-align: right;
    font-size: var(--fnt-size);
    bottom: var(--btm4);
    right: var(--r3);
}
.content-block ul {
    position: relative;
    bottom: var(--btm5);
    left: 775px;
    font-size: 23.5px;
    list-style: none;
}
.content-block ul li::before {
    position: relative;
    content: '';
    display: inline-block;
    width: var(--w2);
    height: 36px;
    background-size: contain;
    background-image: url(./images/834489e27c8da37ad5f7d208216e5a43.svg);
    background-repeat: no-repeat;
    right: 40px;
    top: var(--t1);
    margin-right: -35px;
}
.content-block p {
    position: relative;
    color: var(--text-color1);
    bottom: var(--btm);
    left: 750px;
    font-size: var(--fnt-size3);
}
 .highlight {
    position: relative;
    background-color: var(--color);
    width: 180px;
    height: 40px;
    border-radius: 5px;
    color: var(--text-color2);
 }
.png-block1 {
    position: relative;
    background-image: url(./images/b132dcdd0a4f789644c12d0bfc070c63.png);
    background-position-x: 2px;
    background-size: 730px;
    width: 733px;
    height: 378px;
    bottom: 410px;
    right: var(--r3);
}
.png-block2 {
    position: absolute;
    background-image: url(./images/d1a3a03535a32da920db8d9a9c289df1.jpg);
    background-size: 550px;
    background-position-x: 1px;
    background-position-y: -25px;
    width: 543px;
    height: 325px;
    top: var(--t5);
    left: 99px;
    border-radius: 10px;
}
.btn {
    position: relative;
    bottom: var(--btm3);
    left: 850px;
    bottom: 80px;
    width: 303px;
    height: 78px;
    display: grid;
    justify-items: center;
    align-content: center;
}
.button-rectangle-1 {
    position: relative;
    right: 5px;
    top: 2px;
    background-color: var(--word-color);
}
.button-rectangle-2 {
    position: relative;
    bottom: 75px;
    right: 11px;
    background-color: var(--color1);
    text-align: center;
}
.button-rectangle-2 p {
    position: relative;
    left: 5px;
    bottom: 12px;
    font-size: var(--fnt-size2);
    font-weight: var(--fnt-weight);
    font-family: var(--fnt-family);
}

.why-us {
    background-color: var(--bg-color);
    background-size: cover;
    height: 750px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.why-us-header{
    position: relative;
    color: var(--text-color);
    top: var(--t);
    left: 250px;
    font-size: 43px;
}
.why-us-header strong {
    color: var(--word-color);
}
.line1 {
    position: relative;
    border: 1px solid var(--text-color1);
    top: 70px;
    left: 230px;
}
.why-us p {
    position: relative;
    color: var(--text-color1);
    left: 300px;
    top: 96px;
    font-size: var(--fnt-size2);
    line-height: 1.5;
}
.why-us p b {
    color: var(--color);
}
.line2 {
    position: relative;
    border: 1px solid var(--text-color1);
    top: 190px;
    left: 667px;
}
.png-block3 {
    position: relative;
    width: 460px;
    height: 319px;
    bottom: 393px;
    right: 360px;
    background-image: url(./images/30d5f4412151e9c830a421d5eecbe214.png);
    background-position-x: -20px;
    background-size: var(--hgt3);
}
.png-block4 {
    position: relative;
    width: 422px;
    height: 375px;
    bottom: 550px;
    right: 200px;
    background-image: url(./images/65c8ef551b2f45374394c5fce38b445a.png);
    background-size: var(--bg-size1);
}

.about {
    height: 630px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.about-header {
    text-align: center;
    color: var(--text-color1);
    font-size: var(--fnt-size4);
    font-weight: 300;
}
.line3 {
    position: relative;
    border: 1px solid var(--color);
    bottom: var(--btm2);
    left: 635px;
}
.column-lists-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1352px;
    height: var(--hgt3);
}

.svg-block1 {
    position: relative;
    background-image: url(./images/c7255edd86875178db0b5d5f3ccb8444.png);
    top: 40px;
}
.list1 {
    background-color: var(--main-bg-color);
}
.list-header {
    text-align: center;
    color: var(--color3);
    font-size: var(--fnt-size2);
}
.list-text {
    text-align: center;
    color: var(--text-color1);
    font-size: var(--fnt-size1);
}
.svg-block2 {
    position: relative;
    background-image: url(./images/8dee826c6bca860f32cbee5a78e798e3.png);
    top: 35px;
}
.list2 {
    background-color: var(--bg-color);
}
.gif-block {
    width: var(--w4);
    height: var(--hgt4);
    position: relative;
    background-image: url(./images/6d9a3c03ecbce284c767edf6c6512f2b.gif);
    background-repeat: no-repeat;
    background-size: 130px;
    left: 150px;
    top: var(--t3);
}
.list3 {
    background-color: var(--color1);
}
.circle {
    position: relative;
    width: 61px;
    height: 61px;
    border: 2px solid var(--color3);
    border-radius: var(--bdr-rd);
    left: 195px;
    bottom: var(--btm);
}
.check-block {
    position: relative;
    background-image: url(./images/502d2ce9e955f1db83c82fd4a58e997b.png);
    background-repeat: no-repeat;
    background-size: 70px;
    width: 70px;
    height: var(--hgt2);
    left: var(--l2);
}

.choice-exam {
    height: var(--hgt5);
    display: grid;
    justify-content: center;
    align-items: center;
}
.svg-block3 {
    position: relative;
    background-image: url(./images/f569a0542755ca6af36c6414a322dd47.png);
    background-repeat: no-repeat;
    background-size: 200px;
    width: 216px;
    height: 190px;
    top: var(--t2);
    left: 310px;
}
.choice-exam-header {
    position: relative;
    text-align: center;
    color: var(--text-color1);
    font-size: var(--fnt-size6);
}
.svg1 h3 {
    position: absolute;
    text-align: center;
    color: var(--text-color2);
    font-size: var(--fnt-size5);
    font-weight: var(--fnt-weight);
    font-family: var(--fnt-family);
}
.svg2 h4 {
    position: absolute;
    text-align: center;
    font-size: var(--fnt-size5);
    bottom: -25px;
    font-weight: var(--fnt-weight);
    font-family: var(--fnt-family);
}
.svg-block4 {
    left: 10px;
}
.svg-block5 {
    bottom: 85px;
    left: 470px;
}
.svg-block6 {
    bottom: var(--btm);
    left: var(--l);
}
.svg-block7 {
    bottom: 129px;
    left: 500px;
}
.choice-exam h2 {
    position: relative;
    text-align: center;
    color: var(--text-color1);
    bottom: 120px;
    font-size: var(--fnt-size6);
}
.choice-exam p {
    position: relative;
    text-align: center;
    color: var(--text-color1);
    font-size: var(--fnt-size6);
    bottom: 150px;
}

.reviews {
    height: var(--hgt1);
}
.circle-reviews {
    position: relative;
    height: var(--hgt5);
    background: var(--bg-color);
    top: 24px;
    display: grid;
    justify-content: center;
    align-items: center;
    clip-path: ellipse(100% 100% at 50% 100%);
}
.circle-reviews-header {
    text-align: center;
    position: relative;
    bottom: var(--btm2);
    font-size: 45px;
    font-weight: 300;
    color: var(--text-color);
}
.reviews-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}
.review-1 {
    position: absolute;
    left: 100px;
}
.review-1 h2 {
    position: relative;
    right: var(--r1);
}
.review-1 p {
    position: relative;
    right: var(--r1);
}

.svg-review-1 {
    width: var(--w3);
    height: var(--hgt6);
    background-image: url(./images/48ff8574284260c656e8c1b228af8eb6.png);
    background-size: var(--bg-size);
}
.review-2 {
    position: absolute;
}
.svg-review-2 {
    position: relative;
    width: 308px;
    height: 59px;
    background-image: url(./images/bd92933e7cfda5193da07c818c4a6406.png);
    background-size: 300px;
    bottom: 10px;
}
.svg-review-3 {
    width: var(--w3);
    height: var(--hgt6);
    background-image: url(./images/11c78caa7961dd1bc87e7fa66b7e2ce8.png);
    background-size: var(--bg-size);
}
.review-3 {
    position: absolute;
    right: 100px;
}

.iac-app {
    height: var(--hgt1);
}
.from-creators-block {
    height: var(--hgt5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color);
    position: relative;
    top: var(--t3);
}
.from-creators-block-header {
    position: relative;
    text-align: center;
    font-size: var(--fnt-size);
    font-weight: 400;
    top: var(--t4);
}
.from-creators-block-header strong {
    color: var(--word-color);
    font-weight: 600;
}
.from-creators-block ul {
    position: relative;
    left: 700px;
    font-size: var(--fnt-size2);
    line-height: 60px;
    bottom: 450px;
    left: var(--l2);
}
.stores {
    width: 507px;
    height: 753px;
    position: relative;
    bottom: 200px;
    left: 50px;
}
.png-store-block {
    width: var(--w1);
    height: 169px;
    background-image: url(./images/36bb8215cbbb15ef056d7ff4f91fdaed.png);
    position: relative;
    top: 400px;
    right: 350px;
}
.png-phone-block {
    position: relative;
    width: 257px;
    height: 584px;
    background-image: url(./images/990bc629d1bf2035b68df21cc675c43e.png);
    top: var(--t);
    right: 85px;
}

.comprehensive {
    height: var(--hgt1);
    background-color: var(--color1);
    display: grid;
    justify-content: center;
    align-items: center;
}
.test-image-block {
    height: 386px;
    background-image: url(./images/426a101de7585d7d70b1d20cd365e327.png);
    position: relative;
    top: var(--t5);
}
.amswer-explanation-image-block {
    height: 349px;
    background-image: url(./images/8da3c65fedfac51189a7a7d13e973d3b.png);
    position: relative;
    top: var(--t2);
}
.comprehensive-header {
    position: relative;
    bottom: var(--btm6);
    left: var(--l3);
    font-size: var(--fnt-size4);
    font-weight: 500;
    line-height: 45px;
}
.comprehensive p {
    position: relative;
    bottom: var(--btm6);
    left: var(--l3);
    font-size: var(--fnt-size6);
}
.comprehensive p strong {
    color: #39b54a;
}

.price {
    height: var(--hgt1);
    background-color: var(--bg-color);
    display: grid;
    justify-content: center;
    align-items: center;
}
.price-header {
    position: relative;
    right: var(--r2);
    bottom: var(--btm2);
    font-size: 110px;
    font-weight: var(--fnt-weight);
    font-family: var(--fnt-family);
    color: var(--word-color);
}
.price ul {
    position: relative;
    right: 230px;
    bottom: 80px;
    font-size: var(--fnt-size2);
    list-style: none;
}
.price ul li::before {
    content: '';
    position: absolute;
    width: var(--w2);
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 6px;
}
.price ul li:nth-child(1)::before {
    background-image: url(./images/7afff20bc4eb69c08ab37e4b96fcb370.png);
}
.price ul li:nth-child(2)::before {
    background-image: var(--li-img);
}
.price ul li:nth-child(3)::before {
    background-image: var(--li-img);
}
.price ul li:nth-child(4)::before {
    background-image: var(--li-img);
}
.books-block {
    position: relative;
    width: 754px;
    height: var(--hgt1);
    bottom: var(--btm1);
    left: var(--l1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-image1 {
    width: var(--w6);
    height: var(--hgt7);
    bottom: 355px;
    left: 220px;
    background-image: url(./images/e67b9f04866ff244c3538bfbf0bd37ff.png);
    background-size: cover;
}
.book-image2 {
    width: var(--w6);
    height: var(--hgt7);
    bottom: 191px;
    left: 380px;
    background-image: url(./images/9d8fa8ce18b29ca52267cd66e6859c78.png);
    background-size: cover;
}
.book-image3 {
    width: 323px;
    height: 455px;
    right: 430px;
    bottom: 139px;
    background-image: url(./images/0fe1f3ad946008de60e978d72ff9d1b5.png);
    background-size: contain;
}

.guarantee {
    height: var(--hgt1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.guarantee-header {
    position: relative;
    bottom: 270px;
    color: var(--text-color);
    font-size: var(--fnt-size4);
    bottom: var(--btm7);
}
.offer {
    position: relative;
    bottom: 121px;
    color: var(--color2);
}
.line4 {
    position: relative;
    border: 1px solid var(--color2);
    bottom: 59px;
}
.confident {
    color: var(--text-color1);
    position: relative;
    top: 6px;
}
.button {
    width: 342px;
    height: 79px;
    border-radius: 40px;
    background-image: url(./images/63610463a85b42cb0ed10fab05d7a15c.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 1px;
    background-position-y: -1px;
    position: relative;
    top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button h2 {
    position: relative;
    font-size: var(--fnt-size6);
    font-weight: var(--fnt-weight);
    color: var(--text-color2);
    font-family: var(--fnt-family);
    top: 1px;
    left: 3px;
} 
.contacts {
    height: var(--hgt);
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.homework-image {
    width: 663px;
    height: var(--hgt);
    position: relative;
    right: 0.1px; 
    background-image: url(./images/510b186b476f18748e0024e66742c923.png);
    background-repeat: no-repeat;
    background-size: 674px;
    background-position: right;
    background-position-x: -1px;
    background-position-y: -18px;
}
.contact-area {
    width: 694px;
    height: var(--hgt);
    position: relative;
    left: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-area p {
    position: relative;
    right: 110px;
    bottom: var(--btm5);
    font-size: var(--fnt-size3);
}
.circle-logo {
    width: 121px;
    height: 127px;
    position: relative;
    bottom: var(--btm7);
    right: 199px;
    border-radius: 70px;
    background-color: #b6d890;
    background-image: url(./images/91a445584c87ae3f2b888f7f5019fa8f.png);
    background-repeat: no-repeat;
    background-size: var(--bg-size1);
    background-position-x: 17px;
    background-position-y: 27px;
}
.head {
    position: relative;
    right: 77px;
    bottom: var(--btm5);
    color: #347571;
}
.foot {
    position: relative;
    right: var(--r1);
    top: 91px;
    color: #007785;
}
.social-icons {
    width: 163px;
    height: var(--hgt8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 89px;
    right: 170px;
}
.instagram {
    width: 28px;
    height: 28px;
    position: relative;
    right: var(--r);
    background-image: url(./images/bfa06da1bb8b8e40998fd27e466ed151.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.facebook {
    width: 29px;
    height: var(--hgt9);
    position: relative;
    background-image: url(./images/664b417d9a963291f08ebeda4b9b14bd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 7px;
}
.youtube {
    width: 32px;
    height: var(--hgt9);
    position: relative;
    left: 20px;
    background-image: url(./images/e7d8d5aea58e363f1200846e0de6bfc5.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.fixed-block {
    width: var(--w3);
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.help-btn {
    position: relative;
    background-color: var(--text-color2);
    width: var(--w5);
    height: 50px;
    border-radius: 25px;
    font-size: var(--fnt-size1);
    top: 3px;
    right: 10px;
}
.icon {
    width: var(--w);
    height: var(--hgt2);
    border-radius: var(--bdr-rd);
    background-color: #e7f8e7;
    background-image: url(./images/speech-bubble.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: center;
    background-position-y: center;
    transition: background-image 0.3 ease;
}
.icon:hover {
    background-image: url(./images/draw.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-color: var(--text-color2);
    transform: scale(1.2);
}