body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.container {
    background-image: url(./images/a31a2111f4ab1331ffeb8e05c96425af.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 825px;
    margin-top: -71px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 2600px;
    margin: 0 auto;
    top: 330px;
    left: 600px;
    opacity: 0.2;
    clip-path: inset(0 80% 0 0);
    position: relative;
}

.text-block {
    width: auto;
    position: relative;
    top: 242px;
    left: 620px;
}

.text-block h1 {
    position: absolute;
    bottom: 1px;
    left: 140px;
    text-align: right;
    color: #fff;
    font-size: 85px;
    font-weight: bold;
}
.circle-arrow {
    width: 60px;
    height: 60px;
    border: 2px solid #34571e;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 280px;
    left: 1273px;
}

.circle-arrow::after {
    content: '';
    width: 2px;
    height: 35px;
    background-color: #34571e;
    position: relative;
    bottom: 5px;
    right: 5px;
}

.circle-arrow::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #34571e;
    position: relative;
    top: 15px;
    left: 1px;
}

.rectangle1 {
    width: 544px;
    height: 382px;
    background-color: #a0cf6c;
    position: relative;
    bottom: 230px;
    left: 1325px;
}

.rectangle2 {
    width: 548px;
    height: 383px;
    background-color: #fff;
    position: relative;
    bottom: 640px;
    left: 1299px;
}

.rectangle2 p {
    position: relative;
    color: #34571e;
    text-align: left;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    line-height: 1.5;
    padding: 60px;
}

.rectangle3 {
    width: 250px;
    height: 90px;
    border: 1px solid black;
    position: absolute;
    bottom: 110px;
    left: 40px;
    background-color: #34571e;
}

.rectangle3 h5 {
    width: 40px;
    height: 15px;
    display: flex;
    color: #fff;
    position: relative;
    text-align: center;
    bottom: 30px;
    left: 70px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.block {
    background-color: #f7fdf3;
    width: 100%;
    height: 759px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.block h1 {
    color: #34571e;
    font-size: 60px;
    top: 1px;
    right: 250px;
    position: relative;
}

.block ul {
    bottom: 40px;
    right: 240px;
    font-size: 25px;
    line-height: 40px;
    position: relative;
}

.block ul li strong {
    color: #13ab25;
}

.image-block {
    background-image: url(./images/fbf1a97a459f0ea9adc19c55a904abb4.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -10px;
    background-position-y: -126px;
    background-size: 680px;
    width: 670px;
    height: 760px;
    bottom: 709px;
    left: 340px;
    position: relative;
}

.inclusion {
    background-color: #f7fdf3;
    border: 1px solid #4f4f4f;
    width: 100%;
    height: 700px;
    
}
.content-block {
    position: relative;
    background-color: #fff;
    border: 1px solid #4f4f4f;
    width: 1235px;
    height: 600px;
    top: 100px;
}

.content-block h1 {
    position: relative;
    color: #34571e;
    text-align: right;
    font-size: 60px;
    bottom: 50px;
    right: 50px;
}

.content-block ul {
    position: relative;
    bottom: 50px;
    left: 770px;
    font-size: 23.5px;
    /*list-style-image: url(./images/834489e27c8da37ad5f7d208216e5a43.svg);*/
}

.content-block p {
    position: relative;
    color: #215732;
    bottom: 60px;
    left: 750px;
    font-size: 25px;
}

.png-block1 {
    position: absolute;
    background-image: url(./images/b132dcdd0a4f789644c12d0bfc070c63.png);
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-size: 730px;
    width: 733px;
    height: 378px;
    top: 1710px;
    left: 1px;
}

.png-block2 {
    position: relative;
    background-image: url(./images/d1a3a03535a32da920db8d9a9c289df1.jpg);
    background-repeat: no-repeat;
    background-size: 550px;
    background-position-x: 1px;
    background-position-y: -25px;
    width: 543px;
    height: 325px;
    top: 8px;
    left: 99px;
    border-radius: 10px;
}

.btn {
    position: relative;
    bottom: 15px;
    left: 850px;
    width: 303px;
    height: 78px;
    font-size: 30px;
    font-weight: bold;
}



.why-us {
    background-color: #F0FAEB;
    border: 1px solid #4f4f4f;
    background-size: cover;
    width: 100%;
    height: 750px;
}

.why-us h1{
    position: relative;
    color: #34571e;
    top: 60px;
    left: 630px;
    font-size: 43px;
    
}

.why-us h1 strong {
    color: #13ab25;
}

.line1 {
    position: relative;
    border: 1px solid #215732;
    top: 70px;
    width: 80px;
    left: 610px;
}

.why-us p {
    position: relative;
    color: #215732;
    left: 680px;
    top: 96px;
    font-size: 30px;
    line-height: 1.5;
}

.why-us p b {
    color: #a0cf6c;
}
.line2 {
    position: relative;
    border: 1px solid #215732;
    width: 80px;
    top: 190px;
    left: 1050px;
}


.png-block3 {
    position: relative;
    border: 5px solid #a0cf6c;
    width: 460px;
    height: 319px;
    bottom: 393px;
    left: 40px;
    background-image: url(./images/30d5f4412151e9c830a421d5eecbe214.png);
    background-position-x: -20px;
    background-size: 500px;
    background-repeat: no-repeat;
}
.png-block4 {
    position: relative;
    border: 5px solid #a0cf6c;
    width: 422px;
    height: 375px;
    bottom: 550px;
    left: 200px;
    background-image: url(./images/65c8ef551b2f45374394c5fce38b445a.png);
    background-repeat: no-repeat;
    background-size: 450px;
}
.about {
    border: 1px solid #4f4f4f;
    width: 100%;
    height: 630px;
}

.about h1 {
    text-align: center;
    color: #215732;
    font-size: 50px;
    font-weight: 500;
}

.line3 {
    position: relative;
    border: 1px solid #a0cf6c;
    bottom: 20px;
    width: 80px;
    left: 635px;
}
.column-lists-block {
    display: flex;
    border: 1px solid #4f4f4f;
    max-width: 1352px;
    width: 100%;
    height: 500px;
}

.svg-block1 {
    position: relative;
    width: 170px;
    height: 160px;
    background-image: url(./images/c7255edd86875178db0b5d5f3ccb8444.svg);
    background-repeat: no-repeat;
    background-size: 170px;
    left: 130px;
    top: 40px;
}
.list1 {
    background-color: #f7fdf3;
    border: 1px solid #4f4f4f;
    width: 600px;
    height: 500px;
}

.list1 h2 {
    text-align: center;
    color: #5ec57e;
    font-size: 30px;
}

.list1 p {
    text-align: center;
    color: #215732;
    font-size: 20px;
}

.svg-block2 {
    position: relative;
    width: 170px;
    height: 160px;
    background-image: url(./images/8dee826c6bca860f32cbee5a78e798e3.svg);
    background-repeat: no-repeat;
    background-size: 170px;
    left: 130px;
    top: 35px;
}

.list2 {
    background-color: #F0FAEB;
    border: 1px solid #4f4f4f;
    width: 600px;
    height: 500px;
}

.list2 h2 {
    text-align: center;
    color: #5ec57e;
    font-size: 30px;
}

.list2 p {
    text-align: center;
    color: #215732;
    font-size: 20px;
}

.gif-block {
    position: relative;
    width: 170px;
    height: 160px;
    background-image: url(./images/6d9a3c03ecbce284c767edf6c6512f2b.gif);
    background-repeat: no-repeat;
    background-size: 130px;
    left: 150px;
    top: 25px;
}

.list3 {
    background-color: #dcf4ce;
    border: 1px solid #4f4f4f;
    width: 600px;
    height: 500px;
}

.list3 h2 {
    text-align: center;
    color: #5ec57e;
    font-size: 30px;
}

.list3 p {
    text-align: center;
    color: #215732;
    font-size: 20px;
}

.circle {
    position: relative;
    width: 61px;
    height: 61px;
    border: 2px solid #5ec57e;
    border-radius: 50%;
    left: 195px;
    bottom: 60px;
}

.check-block {
    position: relative;
    background-image: url(./images/502d2ce9e955f1db83c82fd4a58e997b.svg);
    background-repeat: no-repeat;
    background-size: 70px;
    width: 70px;
    height: 60px;
    left: 200px;
}